<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <form action="../login/" method="post"> 
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    ID: <input type="text" name="user_id">
                </td>
            </tr>
            <tr>
                <td>
                    PW: <input type="text" name="password" >
                </th>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="로그인">
                </th>
            </tr>
            <tr>
                <td>{{result}}</td>
            </tr>
        </table>
    </form>
</body>
</html>