<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>주문하기</h1>
    <form action="../add_order/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>상품명</th>
                <td><textarea name="order_text" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="number" name="price">원</td>
            </tr>
            <tr>
                <th>배송지</th>
                <td><textarea name="address" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="주문하기">
                </th>
            </tr>
        </table>
    </form>
</body>
</html>