{# common/base.html을 상속받겠음 #}
{% extends 'common/base.html' %}
{% block title %}[게시판]{% endblock title%}
{% block body %}
<script>
  function showUpdateForm(param){
    // .../board/0/update_reply?rid=0
    $('#writeForm').hide();
    $('#updateForm').show();

    $.ajax({
      url:'{% url "board:update_reply" id=board.id %}',
      type:'get',
      data: {'rid': param},
      success: function(res){
        //1. 수정 입력창에 댓글 내용 표시
        console.log(res);
        // 폼요소.val() = 해당 폼 요소에 들어있는 값을 가져올 수 있다
        // 폼요소.val() = 해당 
        $('#replyTextUpdate').val(res.replyText);
        //2. rid라는 id를 가진 히든태그에 값 설정
        $('#rid').val(param);
      }
    });
  }

  $(document).ready(function(){
    // console.log('여기는 read');
    // 1) 수정 폼 숨기기
    $('#updateForm').hide();

    // 버튼에 이벤트 달기
    $('#btnWrite').click(function(){
      // alert('여기는 write');
      writeReply();
    });
    
    // 수정버튼에 이벤트 달기
    $('#btnUpdate').click(function(){
      //alert('update');
      updateReply();
    });

    loadReplyList();
  });

  function updateReply(){
    let replyText = $('#replyTextUpdate').val();
    let rid = $('#rid').val();
    console.log(replyText);
    console.log(rid);

    let data = {
      'rid': rid,
      'replyText': replyText
    }

    $.ajax({
      url:'{% url "board:update_reply" id=board.id %}',
      type:'post',
      headers:{'X-CSRFTOKEN': '{{ csrf_token }}'},
      data: JSON.stringify(data),
      success: function(res){
        // console.log(res);
        $('#replyTextUpdate').val('');
        $('#updateForm').hide();
        $('#writeForm').show();

        loadReplyList();
      }
    });
  }

  function writeReply(){
    // alert('writeReply');

    // textarea 에 쓴 문자열 가져오기
    let replyText = $('#replyTextWrite').val();
    console.log(replyText);

    let data = {'replyText': replyText}
    $.ajax({
      url:'{% url "board:write_reply" id=board.id %}',
      type:'post',
      headers:{'X-CSRFTOKEN': '{{ csrf_token }}'},
      data:JSON.stringify(data),
      success:function(result){
        console.log(result);
        // 댓글창 초기화
        $('#replyTextWrite').val('');
        loadReplyList();

      }
    });
  }

  function deleteReply(param){
    let data = {'rid': param}
    $.ajax({
      url:'{% url "board:delete_reply" id=board.id %}',
      type:'post',
      headers:{'X-CSRFTOKEN': '{{ csrf_token }}'},
      data:JSON.stringify(data),
      success:function(){
        // 댓글 삭제가 완료되면
        // 댓글 목록 다시 불러옴
        loadReplyList();
      }
    });
  }

  function loadReplyList(){
    // console.log('여기는 loadReplyList')
    $.ajax({
      url:'{% url "board:load_reply" id=board.id %}',
      type:'get',
      success: function(res){
       // console.log(res);
       let str = '<table>'; 
       $.each(res.replyList, function(index, item){
        // inputDate 에 있는 필요없는 문자열 삭제
        let replacedDate = item.inputDate.replace('T', ' ').replace('Z',' ').split('.')[0]
        str += '<tr>';
        str += '<td>' + item.replyText + '</td>';
        str += '<td>' + item.username + '</td>';
        str += '<td>' + replacedDate + '</td>';
        str += '<td>';
        if ('{{ user.username }}' === item.username ){
          str += "<a href='#' onclick='showUpdateForm(" + item.id + ")'> 수정</a> /";
          str += "<a href='#' onclick='deleteReply(" + item.id + ")'> 삭제</a>";
        }
        str += '</td>';
        str += '</tr>';
       });
       str += "</table>";
          
       $('#replyList').html(str);
      }
    });
  }
</script>
<h1>글 보기</h1>
<table>
  <tr>
    <th>{{ board.id }}</th>
    <th>{{ board.title }}</th>
    <td>{{ board.view_count }}</td>
  </tr>
  <tr>
    <td colspan="2">{{ board.input_date|date:'y.m.d H:i' }}</td>
    <td>{{ board.writer }}</td>
  </tr>
  <tr>
    <td colspan="4">{{ board.content }}</td>
  </tr>
  {% if board.original_file_name %}
  <tr>
    <th>첨부 파일</th>
    <td colspan="3">
      <!-- /board/0/download/ -->
      <a href="{% url 'board:download' id=board.id %}">{{ board.original_file_name }}</a>
    </td>
  </tr>
  {% endif %}
</table>
<!-- 수정/삭제 -->
<!-- username끼리 비교 -->
{% if board.author.username == user.username %}
  <a href="{% url 'board:update' board.id %}">글수정</a> /
  <a href="{% url 'board:delete' board.id %}">글삭제</a>
{% endif %}
<!-- board.author 는 user하고 비교ㅏ -->
<div id="replyArea">
  <!-- 댓글 목록 표시 -->
  <div id="replyList" >
    <!-- board객체 뿐 아니라 board와 fk로 엮인 객체는 -->
    <!-- board.모델이름_set으로 가져올 수 있다 -->
  </div>

  <!-- 댓글 입력 폼-->
  <div id="replyForm">
    <div id="writeForm">
      <textarea name="replyText" id="replyTextWrite"></textarea>
      <input type="button" value="댓글쓰기" id="btnWrite">
    </div>
    <div id="updateForm">
      <input type="hidden" name="rid" value="" id="rid">
      <textarea name="replyText" id="replyTextUpdate"></textarea>
      <input type="button" value="댓글수정" id="btnUpdate">
    </div>
  </div>
</div>

<form action="{% url 'board:index' %}">
  <input type="submit" value="목록으로" />
</form>
{% endblock body %}